In [2]:
import streamlit as st
import numpy as np
import pandas as pd

In [3]:
df = pd.DataFrame({
    '1列目':[1,2,3,4],
    '2列目':[10,20,30,40]

})
df

   1列目  2列目
0    1   10
1    2   20
2    3   30
3    4   40

In [13]:
df = pd.DataFrame(
    np.random.rand(100,2)/[50,50]+[35.69,139.70],
    columns=['lat','lon']
)
df

          lat         lon
0   35.706857  139.712742
1   35.703323  139.701031
2   35.701037  139.708313
3   35.702985  139.711544
4   35.695531  139.700369
..        ...         ...
95  35.692418  139.715648
96  35.694141  139.715950
97  35.697236  139.711215
98  35.707073  139.706734
99  35.701274  139.715409

[100 rows x 2 columns]

In [14]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]